@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}


/*  ----------------- NAVBAR -----------------  */
nav {
    width: 100%;
    padding: 40px;
    position: fixed;
    top: 0px;
    background-color: white;
}

.container {
    max-width: 1000px;
    margin: auto;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    transition: 0.15s ease-in-out;
}

a {
    text-decoration: none;
    color: black;
} 

.icons {
    width: 24px;
    text-align: center;
}

.icons i {
    color: #454444;
}

.nav-options div, i {
    transition: 0.15s ease-in-out;
}

nav .logo:hover, .nav-options .home:hover, .nav-options .posts:hover {
    transform: scale(1.2);
}

.nav-options i:hover {
    transform: scale(1.2);
    color: black;
}


/*  ----------------- ARTICLE SECTION -----------------  */
article {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 100px;
    padding: 0px 20px;
}

.content {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content .heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
    border-bottom: 2px solid #E8E7E7;
}

.heading h2 {
    font-size: 45px;
    font-weight: 700;
    color: #2D3748;
    line-height: 50px;
}

.heading p {
    font-size: 18px;
    font-weight: 700;
    color: #2D3748;
}

.heading span {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #718096;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content p {
    color: #718096;
}

.main-content h4 {
    font-weight: 700;
    font-style: italic;
}

.main-content h3 {
    font-size: 30px;
    font-weight: 700;
}

.main-content p::selection {
    background-color: yellowgreen;
    color: black;
}


/*  ----------------- FOOTER SECTION -----------------  */
footer {
    width: 100%;
    padding: 30px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brands {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.brands i:hover {
    transform: scale(1.2);
    color: black;
    transition: 0.15s ease-in-out;
}


/*  ----------------- RESPONSIVENESS -----------------   */
@media (max-width: 900px) {
    nav {
        padding: 20px
    }

    .nav-options {
        gap: 20px
    }

    .content .heading {
        gap: 10px;
    }

    .content .heading h2 {
        font-size: 35px;
    }

    .content .heading p, .heading span {
        font-size: 16px;
    }

    footer {
        padding: 20px;
    }

    footer .brands {
        gap: 20px
    }
}

@media (max-width: 600px) {
    .content .heading h2 {
        font-size: 25px;
        line-height: 25px;
    }

    .content .heading {
        padding-bottom: 20px;
    }

    .content .heading p, .heading span {
        font-size: 14px;
    }

    .main-content {
        gap: 10px;
    }

    .main-content h3 {
        font-size: 20px;
    }

    .main-content h3, .main-content h4 {
        margin-top: 15px;
    }

    footer .container {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 460px) {
    nav {
        padding: 10px;
    }

    .nav-options {
        gap: 10px
    }

    .nav-options div, footer .icons {
        transform: scale(0.9);
    }

    nav .logo:hover {
        transform: scale(1.05);
    }

    .nav-options .home:hover, .nav-options .posts:hover {
        transform: scale(1);
    }
    
    .nav-options i:hover, footer i:hover {
        transform: scale(1.1);
        color: black;
    }

    article {
        margin-top: 70px;
    }

    .main-content p {
        font-size: 14px;
    }   

    footer .copyright {
        font-size: 14px;
    }
    
    footer .brands {
        gap: 10px;
    }
}